/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    width: 100%;
    height: 100vh;
    background-color: grey;
    padding: 5px;
}
.container {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* header */
header {
    width: 100%;
    height: 20px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icons {
    display: flex;
    margin-left: 6px;
    flex: 1;
}
.window-icon {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin: 0 3px;
    border: 1px solid rgba(0,0,0,0.2);
}
#red {
    background: rgb(255,95,88);
}
#yellow {
    background-color: rgb(255,189,47);
}
#green {
    background: rgb(38,201,65);
}
.app-name {
    font-size: 13px;
    display: flex;
    height: 70%;
}
.app-name span {
    color: black;
}
.app-name .id-number {
    height: 100%;
    width: 100px;
    background-color: grey;
    border: 3px solid white;
    margin-left: 5px;
}
/* per centrare la scritta */
header::after {
    content: "";
    flex: 1;
}

/* main */
 main {
    background-color: #000;
    width: 100%;
    height: calc(100vh - 90px);
    position: relative;
}
.main-buttons {
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
}
.main-btn {
    font-size: 13px;
    padding: 7px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 6px;
    min-width: 28px;
    text-align: center;
    margin-left: 5px;
}
.main-btn span {
    margin-left: 5px;
}
.main-body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.side {
    width: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.side i {
    font-size: 40px;
}
.side:first-of-type i {
    color: rgb(127,127,127);
}
.side:last-of-type i {
    color: rgb(46,186,255);
}

/* footer */
footer {
    width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.9);
}


/* debug */
/* .debug .header-icons {
    background-color: #fff;
    height: 100%;
    width: 60px;
} */
/* .debug .window-icon {
    background-color: red;
} */
/* .debug .side {
    width: 5%;
    height: 100%;
    background: grey;
    text-align: center;
} */
.debug .cam-section {
    width: 90%;
    height: 100%;
    background-color: tomato;
}